bin/
obj/

*.user
*.userosscache
*.suo
*.userprefs

.vs/
.idea/
.vscode/

*.log

.DS_Store
Thumbs.db

TestResults/

*.nupkg
*.snupkg
packages/
.nuget/

*.cache
*.pdb
*.mdb
*.opendb
*.VC.db

publish/

project.lock.json
project.fragment.lock.json
artifacts/

_ReSharper*/
*.DotSettings.user
